[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vsketch = {git = "https://github.com/abey79/vsketch"}
prettymaps = {git = "https://github.com/marceloprates/prettymaps.git"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
